{{ define "bindings" }}
//go:build darwin

package {{ .PackageName }}

import "github.com/ebitengine/purego"

func init() {
	lib, err := purego.Dlopen("{{ .PackageName }}.dylib", purego.RTLD_NOW|purego.RTLD_GLOBAL)
	if err != nil {
		panic(err)
	}

	register(lib)
}
{{ end }}
