{{ define "bindings" }}
//go:build windows

package {{ .PackageName }}

import "syscall"

func init() {
	libvlc, err := syscall.LoadLibrary("{{ .PackageName }}.dll")
	if err != nil {
		panic(err)
	}

	register(uintptr(libvlc))
}
{{ end }}
