{{ define "bindings" }}
package {{ .PackageName }}

import "unsafe"

{{- range .Functions }}

func {{.GOFunc}}({{.WrapperParams}}){{if .ReturnType}} {{.ReturnType}}{{end}} {
	{{if .ReturnType}}return {{end}}{{.CFunc}}({{.ParamNames}})
}

{{- end }}

{{ end }}
